.rippling {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.25rem;
    height: 1.25rem;
    background: rgba(#000, .1);
    display: block;
    border-radius: 9999px;
    opacity: 1;
    animation: .75s ease-out 1 forwards ripple-effect;
  }
}

@keyframes ripple-effect {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(10);
    opacity: .375;
  }
  100% {
    transform: translate(-50%, -50%) scale(35);
    opacity: 0;
  }
}
